* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.content-inner {
    text-align: center;
    width: 80%;
}

.content-inner img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #333;
}

.content-inner h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #333;
}

.content-inner p {
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: #555;
}

.tabs {
    display: flex;
    width: 20%;
    position: relative;
    background-color: #007BFF;
    height: 400px;
    justify-content: center;
    border-radius: 15px;
    margin-right: 10px;
}

summary {
    font-size: 18px;
    padding: 20px 10px;
    width: 100%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #007BFF;  
    list-style: none;
    border-radius: 15px; 
}

details {
    width: 90%;
}


details > div {
    width: 95%;
    left: 2.5%;
    position:absolute;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    color: #333;   
}

details summary::-webkit-details-marker {
    display: none;
}

/* Active tab styling */
details[open] summary {
    background-color: #0056b3;
}

.tab-content {
    padding: 20px;
    text-align: center;
    color: #333;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover { 
    background-color: #0056b3;
}


#login-details,#signup-details{
    width: 100%;
  }

/* Medium and small screens: change direction to column */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    body {
        height: auto;
    }

    .tabs {
        width: 100%;
        margin: 10px 0;
    }
  
}
